<div class="container">
    <div class="header">
        <h1>List of Students</h1>
        <app-button color="green" text="Add New" (btnClick)="openModal()"></app-button>
    </div>
    <table>
        <thead>
            <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Title</th>
                <th>Phone Number</th>
                <th>Email Address</th>
                <th>Address</th>
                <th>Date of Birth</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let student of students">
                <td>{{student.firstName}}</td>
                <td>{{student.lastName}}</td>
                <td>{{student.title}}</td>
                <td>{{student.phoneNumber}}</td>
                <td>{{student.email}}</td>
                <td>{{student.address}}</td>
                <td>{{student.dateOfBirth}}</td>
                <td><app-button color="blue" text="Edit" (btnClick)="openEditModal()" onclick=""></app-button></td>
                <td><app-button color="red" text="Delete" (btnClick)="openDeleteModal(currentStudent=student)"></app-button></td>
            </tr>
        </tbody>
    </table>
</div>
