<div class="modal-header">
    <h5 class="modal-title" id="exampleModalLabel">Add Department</h5>
    <button
      type="button"
      class="btn-close"
      aria-label="Close"
      (click)="modalRef.close()"
    ></button>
  </div>
  <div class="modal-body">
    <form>
      <label for="firstName">Name</label>
      <input type="text" name="name" id="name" placeholder="Name" [(ngModel)]="name" />
     </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="modalRef.close()">
      Close
    </button>
    <button type="button" class="btn btn-primary" (click)="addDepartment()">Create Department</button>
</div>